.page-content {
    margin: 20px;
}

.blocks-container .block {
    margin-bottom: 10px;
}

.blocks-container h1 {
    font-size: 2em; /* Adjust as needed */
}

.blocks-container h2 {
    font-size: 1.5em; /* Adjust as needed */
}

.blocks-container h3 {
    font-size: 1.17em; /* Adjust as needed */
}

.blocks-container p {
    font-size: 1em; /* Adjust as needed */
}
.page-content {
    max-width: 800px;
    margin: auto;
    font-family: 'Arial', sans-serif;
}

.block {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
}

.block-text {
    min-height: 1em;
}

.block-header1 {
    font-size: 1.875em;
    font-weight: bold;
}

.block-header2 {
    font-size: 1.5em;
    font-weight: bold;
}

.block-header3 {
    font-size: 1.25em;
    font-weight: bold;
}
